html {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.banner {
  background-image: url("the-flatiron-building.png")
}

.bottom {
  background-color: dimgray;
  color: white;
  text-align: left;
}

#link {
  color: white;
}

#white {
  color: white;
}

#copy {
  font-size: 11px;
}

.bottom a {
  font-weight: bold;
  font-size: 14px;
}

a:link, a:visited {
    color: white;
    text-decoration: underline;
    cursor: auto;
}

a:link:active, a:visited:active {
    color: white;
}
